body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, fieldset, lengend, button, input, textarea, th, td {margin: 0; padding: 0; outline: 0;}
ul, menu, dir {-webkit-padding-start: 0;}
:focus{outline: 0 none; font-weight: normal;}
body{min-width: 1002px; min-height: 100%; color: #333;}
body, button, input, select, textarea {font: 14px/1.5 \5FAE\8F6F\96C5\9ED1,"Microsoft YaHei",arial,sans-serif;}
h1,h2,h3,h4,h5,h6 {font-size: 1em;}
iframe,img {border: 0 none;}
em,i,ins {font-style: normal; text-decoration: none}
address, cite, dfn, em, var { font-style: normal; } 
code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; } 
small { font-size: 12px; }
ul, li, ol { list-style: none; } 
table {border-collapse: collapse; border-spacing: 0;}
a {text-decoration: none; outline: none; color: #333;  cursor: pointer;}
a:hover {color: #ee4b4b;}
a:focus{font-weight: inherit;}
abbr[title], acronym[title] { border-bottom: 1px dotted; cursor: help;}
q:before, q:after { content: ''; }
input {outline: none}
input::-ms-clear {display: none}
legend { color: #333; }
fieldset, img { border: none; }
button, input, select, textarea {font-family:inherit; font-size:inherit; font-style:inherit; font-weight:inherit}
textarea {overflow:auto; resize:none;}
label {cursor:pointer;}
hr {border: none; height: 1px; background-color: #eee;}
*html a {outline: none;}
button{cursor: pointer;}
.clear-fix:after,.clear-fix:before,.cf:after,.cf:before{content:''; display:table;}
.clear-fix:after,.cf:after{clear:both }